Checks: "
  -*,
  bugprone-*,
  -bugprone-bool-pointer-implicit-conversion,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-implicit-widening-of-multiplication-result,
  -bugprone-infinite-loop,
  -bugprone-redundant-branch-condition,
  -bugprone-signal-handler,
  -bugprone-signed-char-misuse,
  -bugprone-spuriously-wake-up-functions,
  -bugprone-unhandled-exception-at-new,
  -cppcoreguidelines-*,
  cppcoreguidelines-interfaces-global-init,
  cppcoreguidelines-narrowing-conversions,
  cppcoreguidelines-pro-type-member-init,
  cppcoreguidelines-pro-type-static-cast-downcast,
  cppcoreguidelines-slicing,
  -google-*
  google-default-arguments,
  google-explicit-constructor,
  google-runtime-operator,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-use-default-member-init,
  -modernize-use-trailing-return-type,
  -modernize-use-using,
  performance-*,
  -performance-no-int-to-ptr,
  readability-*,
  -readability-braces-around-statements,
  -readability-container-data-pointer,
  -readability-else-after-return,
  -readability-function-cognitive-complexity,
  -readability-function-size,
  -readability-identifier-length,
  -readability-identifier-naming,
  -readability-implicit-bool-conversion,
  -readability-isolate-declaration,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-qualified-auto,
  -readability-redundant-access-specifiers,
  -readability-redundant-member-init,
  -readability-redundant-preprocessor,
  -readability-simplify-boolean-expr,
  -readability-suspicious-call-argument,
  -readability-uppercase-literal-suffix,
  "

# Checks: '-*'

WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: 'file'
