[submodule "CosecEngine/vendor/spdlog"]
	path = CosecEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "CosecEngine/vendor/GLFW"]
	path = CosecEngine/vendor/GLFW
	url = https://github.com/glfw/glfw.git
