[submodule "TopDownEngine/vendor/spdlog"]
	path = TopDownEngine/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "TopDownEngine/vendor/GLFW"]
	path = TopDownEngine/vendor/GLFW
	url = git@github.com:glfw/glfw.git
